@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-destructive: #fe5050;
  --color-blue: #3479eb;
  --color-cta1: #1b2334;
  --color-gray-0: #f7f8f9;
  --color-gray-100: #f1f2f4;
  --color-gray-300: #d0d6db;
  --color-gray-500: #acb4bb;
  --color-gray-600: #646f7c;
  --color-gray-700: #374553;
  --color-gray-800: #28323c;
  --color-secondary-pressed: #f7f8fa;

  --spacing-8xl: 1440px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard), system-ui, sans-serif;
}

/* Hide number input spinner */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
